<!DOCTYPE html>
    <html>
      <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title><%= title %></title>
        <link rel='stylesheet' href='/stylesheets/style.css'/>
      </head>
      <body>
          <div class="container">
        <h1> Create a Pet </h1>
        <form class="form-horizontal" action="" method="post" role="form">
          <p> Name is requiered. Separate words in features with commas.</p>
          <table>
            <tr>
              <td>Name</td>
              <td><input type="text" name="formname"></td>
            </tr>
              <tr>
              <td>Age</td>
              <td><input type="text" name="formage"></td>
            </tr>
            <tr>
              <td>Features</td>
              <td><input type="text" name="formdesc"></td>
            </tr>      
            <tr>
                <!--<td colspan="2"><button type="submit" value="Save"></button></td>-->
                <td colspan="2"><button type="submit">Save</button></td>
            </tr>
          </table>
        </form>
          </div>
      </body>
    </html>