<!DOCTYPE html>
      <html>
        <head>
          <title><%= title %></title>
          <link rel='stylesheet' href='/stylesheets/style.css' />
        </head>
        <body>
          <h1><%= title %></h1>
          <p><%= pet.name %> </p>
          <p> Description:</p>
          
    <ul>
     <% for(var i=0; i<pet.descs.length; i++) {%>
       <li>
         <span id="color"><%= pet.descs[i] %></span>
       </li>
     <% } %>
    </ul>
   
        </body>
      </html>
     