<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    
    
     <ul>
    <% pets.forEach(function(pet){ %>
    <li> <a href='/pet/<%= pet._id %>'><%= pet.name %></a></li>
    <% }); %>
    </ul>
       
      <a class="change" href='/createpet'> New Pet </a>
  </body>
</html>