<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
      <h1 id="favorpets"><%= title %></h1>
    
     <ul>
    <% pets.forEach(function(pet){ %>
    <li> <a href='/pet/<%= pet._id %>'><%= pet.name %></a></li>
    <% }); %>
    </ul>
       
      <p id="newpet"><a class="change" href='/createpet'> New  </a></p>
  </body>
</html>