body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
h1{
    color: blueviolet;
}
li, p {
  font-size: 24px;
}
ul{
    margin:20px;
}
#favorpets{
    color: forestgreen;
}
 #color {
    color: blueviolet;
 }
.change{
      font-size: 150%;
      color: white;
      background: forestgreen;
      padding:12px;
      border-radius: 38%;
     //border: black solid 2px;
    }
a {
    text-decoration: none;
    color: blueviolet;
}    
p#newpet{
    //border: black solid 2px;
    padding-left: 40px;
    padding-top: 20px;
}
a.linkwhite {
    color: white;
}

.changepet{
    font-size: 140%;
    color: white;
    background: forestgreen;
    padding: 10px;
    margin: 10px;
    border-radius: 50%;
}

h3 {
    text-decoration: none;
  padding: 10px 20px;
  background-color: #00AE4D;
  width: 160px;
  border-radius: 6px;
  color: #FFFFFF;
}
.container {
  padding: 20px;
  padding-bottom: 40px;
  //background-color: #efefef;
    background-color: azure;
  width: 543px;
  border-radius: 6px;
}
#details{
    padding-left: 50px;
    color: blueviolet;
}

table {
  width: 360px;
}

.container table tr td {
  padding: 5px;
}

table tr td input  {
  border: solid 1px #dddddd;
  padding: 5px 10px;
  border-radius: 6px;
  width: 100%;
  color: #777777;
}

table tr td button {
  border: solid 1px #AABF5C;
  background-color: forestgreen;
  border-radius: 10px;
  color: white;
  margin: 10px 0;
  padding: 10px 20px;
  font-size: 140%;
}

#foot{
    text-align: center;
    text-color: red;
    font-size: 24px;
}
